@import url('https://fonts.cdnfonts.com/css/poppins');
@import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');

.fondo {
    background: url(/img/mando.jpg);
    padding: 5px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.cajasesion{
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    top: 10px;
}

.sesioni{
    position: relative;
    font-family: 'popins', sans-serif;
    right: 25px;
    font-size: 15px;
    height: 25px;
    font-weight: 400;
    color: white;
    background: #2F0743;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
}

.sesioni:hover{
    background: #41295a;
}

.caja{
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo{
    position: relative;
    left: 30px;
    width: 7%;
}

.nav_arriba{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 50px;
}

.nav_arriba li{
    display: inline-block;
    text-align: center;
    margin: 0 0 0 15px;
}

.nav_arriba a{
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.nav_arriba a:hover{
    color: red;
    text-decoration: underline;
}

.fondob{
    background: url(/img/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.tituloSec{
    color: white;
    font-family: 'Belanosima', sans-serif;
    font-weight: 600;
    padding-top: 25px;
    text-align: center;
    font-size: 40px;
    width: 100%;
    animation: neon 5s infinite;
}

@keyframes neon{
    0%, 39%, 41%, 59%, 61%, 100%{
        text-shadow:
        purple 0 0 12px,
        purple 0 0 24px,
        purple 0 0 36px;
    }
    40%, 60%{
        text-shadow: none;
    }
}

.tituloSec1{
    color: white;
    font-family: 'Belanosima', sans-serif;
    font-weight: 600;
    padding-top: 25px;
    text-align: center;
    font-size: 40px;
    width: 100%;
    animation: fosfo 5s infinite;
}

@keyframes fosfo{
    0%, 39%, 41%, 59%, 61%, 100%{
        text-shadow:
        blue 0 0 12px,
        blue 0 0 24px,
        blue 0 0 36px;
    }
    40%, 60%{
        text-shadow: none;
    }
}

.tituloSec2{
    color: white;
    font-family: 'Belanosima', sans-serif;
    font-weight: 600;
    padding-top: 25px;
    text-align: center;
    font-size: 40px;
    width: 100%;
    animation: fofo 5s infinite;
}

@keyframes fofo{
    0%, 39%, 41%, 59%, 61%, 100%{
        text-shadow:
        yellow 0 0 12px,
        yellow 0 0 24px,
        yellow 0 0 36px;
    }
    40%, 60%{
        text-shadow: none;
    }
}

.tituloSec3{
    color: white;
    font-family: 'Belanosima', sans-serif;
    font-weight: 600;
    padding-top: 25px;
    text-align: center;
    font-size: 40px;
    width: 100%;
    animation: ffo 5s infinite;
}

@keyframes ffo{
    0%, 39%, 41%, 59%, 61%, 100%{
        text-shadow:
        red 0 0 12px,
        red 0 0 24px,
        red 0 0 36px;
    }
    40%, 60%{
        text-shadow: none;
    }
}

.info{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}


.info li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.info img{
    width: 100%;
    border-radius: 5px;
}

.info li:hover{
    border-color: green;
}

.info li:active{
    border-color:#088c19;
}

.info h4{
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    color: white;
}

.info li:hover h4{
    font-size: 33px;
}

.info-descripcion{
    font-size: 18px;
    padding: 8px;
    text-align: justify;
    color: white;
    position: relative;
    top: 30px;
}

.info-descripcion1{
    font-size: 18px;
    padding: 8px;
    text-align: justify;
    color: white;
    position: relative;
    top: 10px;
}

.sabermas{
    font-size: 20px;
    font-weight: bold;
    margin-top:35px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    background: linear-gradient(to right, #2F0743, #41295a);
}

.sabermas:hover{
    background: linear-gradient(to right, #1D2671, #C33764);
    border-color: green;
    cursor: pointer;
}

.footer{
    background-color: #221D1C;
    padding: 20px;
    margin-top: 85px;
}

.f_contenedor{
    display: flex;
    position: relative;
    top: 15px;
    flex-direction: row;
    justify-content: center;
    left: 20px;
}

.f_contenedor2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

.f_contenedor a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.nav_abajo a:hover{
    color: red;
    text-decoration: underline;
}

.foot{
    color: white;
}

.nombres{
    color: white;
}

/*Diseño inicio de sesion*/

.fondoSi{
    background: url(/img/Login.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.diseñoL{
    margin: 0;
    padding: 0;
    font-family: 'popins', sans-serif;
}

.estructura{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.cajaI{
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgb(255,255,255,0.56);
    backdrop-filter: blur(1px);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.cajaI:hover{
    backdrop-filter: blur(10px);
}

.login{
    font-size: 2em;
    color: #FFF;
    text-align: center;
}

.entrada_caja{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #FFF;
}

.entrada_caja label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #FFF;
    font-size: 1em;
}

.entrada_caja input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: white;
}

input:focus~label,
input:valid~label{
    top: -5px;
}

input:invalid:focus
input:valid{
    color: #FFF;
}

.entrada_caja .icon{
    position: absolute;
    right: 8px;
    color: #FFF;
    font-size: 1.2em;
    top: 20px;
}

.olvido{
    margin: -15px 0 15px;
    font-size: .9em;
    color: #FFF;
    display: flex;
    justify-content: center;
}

.olvido label input{
    margin-right: 3px;
}

.olvido label a{
    color: #FFF;
    text-decoration: none;
}

.olvido label a:hover{
    text-decoration: underline;
}

.iniciar{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #FFF;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

.iniciar:hover{
    background: linear-gradient(90deg, #1D2671, #C33764, #e40303, #ffee02);
    background-size: 400%;
    z-index: 1;
    animation: glow 8s linear infinite;
}

.iniciar:before{
    content: '';
    position: absolute;
    background: inherit;
    top: -5px;
    bottom: -5px;
    left: -5px;
    border-radius: 50px;
    filter: blur(20px);
    opacity: 0;
    transition: opacity 0.5s;
}

.iniciar:hover:before{
    opacity: 1;
    z-index: -1;
}

@keyframes glow{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}

.registrar{
    font-size: .9em;
    color: #FFF;
    text-align: center;
    margin: 25px 0 10px;
}

.registrar p a{
    text-decoration: none;
    color: #FFF;
    font-weight: 600;
}

.registrar p a:hover{
    text-decoration: underline;
}

.privalog{
    position: relative;
    top: 5px;
}

/*Diseño Contacto*/

.contactanos a:hover{
    color: red;
    text-decoration: underline;
}

.contacto {
    font-family: "Playfair";
    font-size: 40px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
    padding-top: 20px;
}

.formulario {
    background-color: #706E83;
    width: min(500px, 100%);
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

.formulario fieldset {
    border: none;
}

.formulario legend {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px;
    color: white;
}


.campo {
    margin-bottom: 15px;
}

.campo label {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: white;
}

.campo ::placeholder{
    font-size: 18px;
    color: gainsboro;
}

.campo input,
textarea {
    display: block;
    width: 100%;
    border: none;
    border-bottom: solid 1px white;
    color: white;
    margin-top: 10px;
    background-color: transparent;
}

.datos{
    border: none;
    outline: none;
}

.boton {
    background-color: white;
    border: none;
    padding: 10px, 20px;
    color: black;
    font-weight: 600;
    border-radius: 5px;

}

.boton:hover {
    background-color: white;
    color: greenyellow;
    transition-delay: .2s;
    transition-duration: .2s;
}

.send {
    display: flex;
    justify-content: flex-end;
}

.map{
    display: flex;
    justify-content: center;
}

/*Servicios*/

.contenedor_2 {
    width: 50%;
    min-width: 500px;
    margin: 0 auto;
    margin-top: -25px;
    margin-bottom: -50px;
}

.titulo_centrado {
    font-family: 'Playfair', serif;
    font-weight: 700;
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    padding-top: 40px;
}

.servicios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: center;
    margin-left: -240px;
    margin-right: -240px;
    padding-top: 80px;
}

.servicio_d{
    border-right: solid 2px black;
    border-left: solid 2px black;
    margin-bottom: 25px;
}

.servicio:last-child {
    border-right: none;
}

.servicio svg {

    padding: 20px;
    border-radius: 50%;
}

.servicio_d svg {

    padding: 20px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.tipo_servicio {
    margin-top: -10px;
}

.sh_servicios{
    color: black;
    font-family: Arial, "Helvetica", sans-serif;
    margin-bottom: 40px;
}

/*Aviso Privacidad*/
.position{
    width: 100%;
}

.privacidad1{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    padding: 25px;
}

.privacidad2{
    font-size: 15px;
    text-align: justify;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.privacidad2 em{
    font-weight: bold;
}

/*Somos*/

.somos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: center;
}
.tx1, .tx2, .tx3{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 42px;
    text-align: center;
    font-family: 'Bungee Outline', cursive;
    letter-spacing: 5px;
    padding: 25px;
}
.tx1{
    text-shadow: 0 0 5px #FF00FF,
    0 0 10px #FF00FF,
    0 0 15px #FF00FF,
    0 0 20px #FF00FF;
}
.tx2{
    text-shadow: 0 0 5px #66FF00,
    0 0 10px #66FF00,
    0 0 15px #66FF00,
    0 0 20px #66FF00,
    0 0 30px #66FF00;
}
.tx3{
    text-shadow: 0 0 5px #FF0000,
    0 0 10px #FF0000,
    0 0 15px #FF0000,
    0 0 25px #FF0000;
    margin-top: 4%;
    
}
.photos{
    width: 75%;
    border-radius: 25px;
}
.somosin{
    color: rgb(255, 255, 255);
    margin: 15px;
    text-align: justify;
    padding: 15px;
    font-size: 19px;
}
.bg_somos{
    background-image: linear-gradient(62deg, #400b3e 0%, #27241e 100%);    
}

@media (max-width: 480px) {
    .logo{
        width: 10%;
        left: 15px;
    }
    .fondob{
        background: #1c1c1c;
    }
    .caja{
        width: auto;
    }
    header{
        padding: 40px;
    }
    main h2{
        font-size: 35px;
        text-align: center;
        padding: 0px;
        padding-top: 15px;
    }
    nav{
        position: relative;
    }
    .nav_arriba{
        left: 20px;
        bottom: 10px;
    }
    .nav_arriba a{
        font-size: 15px;
    }
    .info{
        padding: 1px;
        width: auto;
    }
    .info li{
        display: block;
        margin: 15px 20%;
        padding: 15px 10px;
        width: 60%;
    }
    .footer{
        background: darkblue;
    }
    .nav_abajo a{
        font-size: 10px;
    }
    .f_contenedor p{
        font-size: 13px;
    }
}